<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BWI Sensors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79D3C2D81BC760F30060BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79D3C2EF1BC760F30060BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79D3C2FA1BC760F30060BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
